@model SuperheroCreator.Models.Heroes

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>Heroes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatchPhrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ID = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
